@import '../../scss/variable';
@import './../iconsSvg/Icons.scss';
@import './../../scss/mixins.scss';


/*.fondo-tramaBlack  { 
    esta puesto en mixin
}
}*/

.formulario__fondo {
    margin: 6rem;
    padding: 2rem;
    position: relative;
    background-color: #ffffff;
    max-width: 900px;
    max-height: 800px;
    display: flex;
    border-radius: 12px;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.formulario__campo {
    display: colum-flex;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 2rem;
    & input, textarea 
        {background-color: $color-yellow;
         text-decoration: none;
        
}
}


