@import '../../scss/variable';
@import './../iconsSvg/Icons.scss';
@import './../../scss/mixins.scss';


/*.fondo-tramaBlack  { 
    esta puesto en mixin
}
}*/

.formulario__fondo {
    margin: 3rem;
    padding: 4rem;
    position: relative;
    background-color: $color-white;
    max-width: 90vw;
    max-height: 100vh;
    text-align: start;
    display: flex;
    border-radius: 12px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: stretch;

}

.formulario__campo {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 2rem 0rem 1rem 0rem;
    & input, textarea 
        {background-color: $color-yellow;
         text-decoration: none;
        
}
}


