section { 
background-image: url(public/image/fondo-cuervos.webp);
transform: rotate(90deg);
justify-content: center;
display: flex;

    
}
.content-sofa__artshop {
    height: 100vh;
    width: 100vw;
}
.sofa_imagen {
    height: 100vh;
    animation: deslizar 5s infinite;
    max-width: 100vw;
   
   
}
/*
@keyframes deslizar {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(11vw);
    }
}*/

.logo__btn {
  height: 250px;
  max-width: 250px;
 
  margin-top: -42%;
  margin-left: 78%;
  padding: 1rem;
  transform: rotate3d(1, 1, 1, 39deg);
  
 
        &:hover{ 
          filter: drop-shadow(0 0 3em #0004f8e8);
          

            /*revisar como poner un condicional para que en hover desaparesca logo 1 y se ponga logo 2*/
    }
  }

  @keyframes logo__btn {
    from {
      transform: rotate3d(0deg);
    }
    to {
      transform: rotate3d(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo_btn {
      animation: logo__btn infinite 20s linear;
    }
  }

