
.artshop-content-cuervos {
    transform: rotate(90deg);
    background: url(public/image/fondo-cuervos.webp);
    background-size: contain;
}

.sofa_imagen {
    animation: deslizar 5s infinite;
    max-width: 100vw;
    transform: rotate(90deg);
   
}
/*
@keyframes deslizar {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(11vw);
    }
}*/

.mi__logo {
    max-width: 250px;
    animation: deslizar 3s infinite;
    margin-top: -77%;
    margin-bottom: 25%;
    position: relative;
    margin-left: 70%;
        &:hover{ 
            background-image: url("public/frame2.svg");
            max-width: 250px;
            display:none;
            /*revisar como poner un condicional para que en hover desaparesca logo 1 y se ponga logo 2*/
    }
   
}

