@import 'src/scss/variable.scss';



.card-padre {
    width: auto;
    height: max-content;
    background-color: $color-grey-smoot;;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    color: $color-black;
} 

.card-flex {
  display: flex;
}

.card__img {
    padding: 1rem;
  // Agrega estilos específicos para la imagen si es necesario

  img {
    max-width: 100%;
  }
}


.paragraph {
    margin: 2rem;

}

