@import 'src/scss/variable.scss';


.card-padre {
  width: calc(100vw / 3);
  height: 100vh;
  background-color: #dad8d5;
 /* flex-direction: column;*/
 /* flex-wrap: wrap;*/
  display: flex;
  color: #141414;
  align-content: flex-end;
} 

.card-flex {
  display: flex;
    width: 25vw;
    justify-content: start;
    flex-direction: column;
    height: 100vh;
    /* margin-right: 1rem; */
    margin-top: 4rem;
    margin-left: 1.5rem;
}

.card__img {
    padding: 1rem;
  // Agrega estilos específicos para la imagen si es necesario

  img {
    max-width: 100%;
  }
}


.paragraph {
    margin: 2rem;

}

