@import './global.scss';
@import './Icons.scss';


.icon--small {
    width: 33px;
    height: 32px;
}
.icon--medium {
    width: 32px;
    height: 32px;
}
.icon--large {
    width: 64px;
    height: 64px;
    

}