.vertical-text {
    transform: rotate(-180deg);
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    width: 53px;
    font-family: "Cinzel", serif;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
}