h1 {
    font-size: 3.2em;
    line-height: 1.1;
     &.vertical-text {
      transform: rotate(-180deg);
      -ms-writing-mode: tb-rl;
      writing-mode: tb-rl;
      width:60px;
      font-family: "Cinzel", serif;
      font-size: 1.5rem;
      text-transform: uppercase;
      background-color: #fff;
      align-items: center;
      justify-content: center;
      height: 100vh;
      display: flex;
      font-weight: bold;
      margin: 0;
      top: 0;

      &__fondo-tramaBlack {
        transform: rotate(-180deg);
        -ms-writing-mode: tb-rl;
        writing-mode: tb-rl;
        width: 100px;
        font-family: "Cinzel", serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        height: 100vh;
        display: flex;
        font-size: 2rem; 
        margin: initial;
        margin-top: 420px;
      }
      
      &__artshop {
        transform: rotate(-180deg);
        -ms-writing-mode: tb-rl;
        writing-mode: tb-rl;
        width: 130px;
        font-family: "Cinzel", serif;
        font-size: 3.5rem;
        text-transform: uppercase;
        background-color: #f1f1f1;
        height: 100vh;
        display: flex;
        
        margin: 0rem;
        margin-top: -37rem;
        margin-bottom: 330px;
        margin-right: -130px;
        
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        background: linear-gradient(91deg, #000 0%, #FBA92C 59%);

    }
  }
}

h2 {
  font-family: "Cinzel", serif;
    font-size: 3.2em;
    line-height: 1.1;
  }


/*
.vertical-text {
    transform: rotate(-180deg);
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    width:60px;
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    font-weight: bold;
    margin: 0;
    top: 0;
    
      &.card-padre {
          position: initial;
          margin: 0;
     }
     &.artshop-content-cuervos-h1 {
      background-color: $color-grey-smoot;
      align-content: flex-end;
      flex-direction: initial;
      margin :0%;

      

     
}
}
/* transform: rotate(180deg);
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    width: 22px;
    font-family: "Cinzel", serif;
    font-size: 10px;
    text-transform: uppercase;
    background-color: #fff;
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 6px;*/