h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

h2 {
    font-size: 1.5em;
    line-height: 1.1;
  }



.vertical-text {
    transform: rotate(-180deg);
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    width:60px;
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    font-weight: bold;
    left: -2vw;
    position: absolute;

   
}

/* transform: rotate(180deg);
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    width: 22px;
    font-family: "Cinzel", serif;
    font-size: 10px;
    text-transform: uppercase;
    background-color: #fff;
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 6px;*/