/*ya sé que no es un mixin , pero el mixins no me salio jaja*/
.fondo-tramaBlack {
    background-image: url(../../images/imagesSvg/tramaBlack.svg);
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    transform: rotate(90deg);
    
        &.form {
            overflow: hidden;
            justify-content: center;
            text-align: center;
    }
        &.portrait {
            
            flex-wrap: nowrap;  
            justify-content: flex-end;
    }

    }
/*esto no es un mixin */
    

  