
   


.content-portrait {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .fondo-tramaBlack {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../../../public/image/tramaBlack.webp);
    background-size: cover;
    background-position: center;
  }
  
 
  
  .dress-yellow {
    position: absolute;
    right: 0%;
    width: 40vw;
  }
  
  // .retrato {
  //   position: absolute;
  //   top: 5%;
  //   left: 45vw;
  
  //   height: auto;
  //   transform: translateY(100vw);
  //   margin-right: -45vw;
  // }
  
  .fondo-negro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
  }