
.background {
  display: flex;
  background-image: url(./src/images/imagesSvg/tramaOrange.svg); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100vh;
  min-height: 100vw;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}


.pajaro {  

  position:absolute;
  width: 400px;
  height: 400px;

}
.container-img {
  height: 100vw;
  width: auto;
  display: flex;
  align-items: center;
}

/*AQUI VA ESTILOS DE LOOP */

.pajaro {
  width: 400px;
  height: 400px;
  position: relative;
 

}

.pajaro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('public/Frame1.svg');
  background-size: cover;

}

.pajaro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('public/Frame2.svg');
  background-size: cover;
  
}
