


.background {
  display: flex;
  background-image: url(./src/images/imagesSvg/tramaOrange.svg); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100vh;
  min-height: 100vw;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}


.pajaro {  
  position:absolute;
  width: 400px;
  height: 400px;

}
.container-img {
  height: 100vw;
  width: auto;
  display: flex;
  align-items: center;
}